<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<resultMap type="boardVO" id="BoardVOResult">
		<id property="seq" column="seq"/>
		<result property="subject" column="subject"/>
		<result property="contents" column="contents"/>
	</resultMap>
	
	<select id="getBoardListCount" resultType="int">
		select count(*) from board
	</select>
	
	<!-- boardList select-->
	<select id="getBoardList" parameterType="Map" resultMap="BoardVOResult">
		<![CDATA[
			SELECT * 
			FROM board
		]]>			
	</select>
	
	<!-- boardWrite insert-->
	<insert id="boardWrite" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO board
				(subject, contents)
		VALUES
				(#{subject}
				,#{contents})
	</insert>
	
	
	
	
	
</mapper>